@import 'tailwindcss';


.animate-grow {
  animation: grow .4s calc((sibling-index() / sibling-count()) * .1s) cubic-bezier(0.91, -0.01, 0.5, 1.6) both;
}

@keyframes grow {
  from {
    scale: .7;
  } to {
    scale: 1;
  }
}